Data
.DS_Store

*.pyc
AvAgDempl.xlsx
AvROpl.xlsx
Ag_deficits_optimal.xlsx
Ag_dem_SP.xlsx
Ag_optimal_allocations.xlsx
AvSPCWB.xlsx
AVSPResCap.xlsx
Catch_WB_SP.xlsx
Catchment_outflow_opt.xlsx
Dom_deficits_optimal.xlsx
Dom_dem_SP.xlsx
Dom_optimal_allocations.xlsx
Ind_deficits_optimal.xlsx
Ind_dem_SP.xlsx
Ind_optimal_allocations.xlsx
Res_Cap_SP.xlsx
Res_release_opt.xlsx
Res_Send_opt.xlsx
Res_spills_opt.xlsx
Res_TurCap_SP.xlsx
Res_WB_SP.xlsx

